<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="stylesheet" type="text/css" href="css/normalize.css">
        <link rel="stylesheet" href="css/w3.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">

        <meta name="author" content="Robson Teodoro Rodrigues da Silva">
        <meta name="description" content="Trilhando Teresópolis, sua aventura começa aqui">
        <meta name="robots" content="index, follow">
        
        <title>Eventos PNE - Trilhando Teresópolis</title>

        <link rel="icon" href="Imagens/logo2.jpg">

        <style>
            
        </style>
    </head>

    <body>
        <header class="container-fluid container-md">
            <div class="jumbotron-fluid mx-auto d-block JumboHeadImgbateVoltaPNE">
                <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
                    <a class="navbar-brand" href="index.html">
                        <img src="Imagens/logo2.jpg" alt="Trilhando Teresópolis" width="110px">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavBar" 
                                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="collapsibleNavBar">
                        <ul class="navbar-nav">
                            
                            <li class="nav-item active">
                                <a class="nav-link font-weight-bold text-success" href="guias.html">
                                    <i class="fa fa-map-marker"></i>
                                    Nossos Guias
                                </a>
                            </li>
   
                            <li class="nav-item active">
                                <a class="nav-link font-weight-bold text-success" href="aventuras.html">
                                    <i class="fa fa-plane"></i>
                                    Nossas Aventuras</a>
                            </li>

                            <li class="nav-item active dropdown">
                                <a class="nav-link font-weight-bold text-success dropdown-toggle" href="#" id="navbarDropDown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-map-signs"></i>
                                        Próximos Eventos
                                </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link font-weight-bold text-success" href="eventos.html">Todos os Eventos</a>
                                        <a class="nav-link font-weight-bold text-success" href="bateVolta.html">Bate e Volta</a>
                                        <a class="nav-link font-weight-bold text-success" href="feriados.html">Feriados</a>
                                        <a class="nav-link font-weight-bold text-success" href="fds.html">Finais de Semana</a>
                                        <h6 class="dropdown-divider"></h6>
                                        <a class="nav-link font-weight-bold text-success" href="bateVoltaPNE.html">Bate e Volta PNE <i class="fa fa-wheelchair"></i> </a>
                                    </div>
                            </li>

                            <li class="nav-item active dropdown">
                                <a class="nav-link font-weight-bold text-success dropdown-toggle" href="#" id="navbarDropDown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-shopping-cart"></i>
                                        Compras
                                </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="nav-link font-weight-bold text-success" href="agendas.html">Agendas</a>
                                        <a class="nav-link font-weight-bold text-success" href="#" disabled>Camisas</a>
                                        <a class="nav-link font-weight-bold text-success" href="canecas.html">Canecas</a>
                                    </div>
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link font-weight-bold text-success" href="noticiasPrincipal.html">
                                    <i class="fa fa-newspaper-o"></i>
                                    Notícias
                                </a>
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link font-weight-bold text-success" href="pnePrincipal.html">
                                    <i class="fa fa-wheelchair font-weight-bold"></i>
                                    PNE
                                </a>
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link font-weight-bold text-success" href="dicas.html">
                                    <i class="fa fa-lightbulb-o"></i>
                                    Dicas</a>
                            </li>
                            
                            <li class="nav-item active">
                                <a class="nav-link font-weight-bold text-success" href="sobre.html">
                                    <i class="fa fa-hourglass-2"></i>
                                    Sobre Nós
                                </a>
                            </li>

                            <li class="nav-item active">
                                <a class="nav-link font-weight-bold text-success" href="formulario.html">
                                    <i class="fa fa-sign-in"></i>
                                    Login/Cadastro</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        

        <section>
            <p>
                <div class="container-fluid container-md dropdown">
                    <nav>
                        <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" 
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Eventos
                        </a>
                
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <h6 class="dropdown-header">Próximos Eventos</h6>
                                <a class="dropdown-item text-success font-weight-bold" href="eventos.html">Todos os Eventos</a>
                                <a class="dropdown-item text-success font-weight-bold " href="bateVolta.html">Eventos Bate e Volta</a>
                                <a class="dropdown-item text-success font-weight-bold" href="feriados.html">Eventos Feriados</a>
                                <a class="dropdown-item text-success font-weight-bold" href="fds.html">Eventos Finais de Semana</a>
                                <h6 class="dropdown-divider"></h6>
                            <h6 class="dropdown-header">Próximos Eventos PNE</h6>
                                <a class="dropdown-item font-weight-bold disabled" href="bateVoltaPNE.html">Eventos PNE</a>
                        </div>
                    </nav>
                </div>
            </p>
        </section>

        <!--<section>
            <div class="container-md container-fluid">
                INICIO FORMULARIO BOTAO PAGSEGURO
                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post">
                NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO
                <input class="dist" type="hidden" name="code" value="D8EA452E1313CCAFF4FE6FB26A42E8CD" />
                <input class="dist" type="hidden" name="iot" value="button" />
                <input class="dist" type="image" src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-comprar.gif" name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
                </form>
                 FINAL FORMULARIO BOTAO PAGSEGURO 
            </div>
        </section>-->


        <section>
            <p>
                <div class="container-fluid container-md">
                    <h3 class="font-weight-bold text-success">Próximos Eventos de Bate e Volta PNE</h3>
        
                    <p class="ttt">
                        <span>
                            Nos envie um <a href="#enviar">email</a> e agende sua aventura!
                        </span>
                    </p>

                    <div class="container container-fluid container-md">
                        <div class="row">
                        <div class="col-md-3">
                            <div class=" card border w3-light-green w3-animate-top">
                                <a href="rafting">
                                    <img src="Imagens/Aventuras/rafting7.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Rafting</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">R$240,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="rafting">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-md-3">
                            <div class=" card border w3-light-blue w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-white" href="picoTijuca3">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border border-warning w3-pale-red w3-animate-top">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="text-primary" href="picoTijuca3">Veja Aqui o Evento</a> ou
                                        <a class="text-primary" href="mailto:robson.rtrs@hotmail.com">Reserve Aqui</a>
                                    </p>
                                </div>
                            </div>
                        </div>
        
                        <div class="col-md-3">
                            <div class=" card border w3-border-khaki w3-khaki w3-animate-bottom">
                                <a href="picoTijuca3">
                                    <img src="Imagens/Aventuras/tijuca2.jpg" alt="Travessia Petro x Teresópolis" class="card-img-top"></a>
                                <div class="card-body">
                                    <h5 class="card-title text-center font-weight-bolder">Pico da Tijuca</h5>
                                    <p class="ttt card-text text-md-center font-weight-bold">Valor: R$80,00</p>
                                    <p class="ttt card-footer text-center font-weight-bold">
                                        <a class="w3-text-blue" href="picoTijuca3">Veja Aqui o Evento</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                <p>
                    <!--<h4 class= "font-weight-bold">
                        <p>
                            Informaremos em breve!
                        </p>
                    </h4>-->

                <div>
                    <ul>                
                        <p>
                            <li class="font-weight-bold">SETEMBRO</li>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker text-success"></i>
                                    <a class="font-weight-bold" href="https://www.netdiario.com.br/noticias/conheca-os-dois-bicos-do-vale-de-sebastiana" target="_blank">
                                        DOIS BICOS
                                    </a><br>
                                    <i class="fa fa-globe text-info"></i>
                                        LOCAL: TERESOPOLIS <br>
                                    <i class="fa fa-calendar text-dark"></i>
                                        DATA: 07/09/19 <br>
                                    <i class="fa fa-money text-success"></i>
                                        VALOR: R$50,00<br>
                                        😃NÍVEL: LEVE<br>
                                    <i class="fa fa-hourglass-half text-danger"></i>
                                        VAGAS: 5 <br>
                                        <!--<a class="btn btn-success" href="formulario.html">Comprar</a>-->
                                        <!--{% include "submit.html"%}-->
                                </li>        
                            </ul>
                        </p>

                        <br>

                        <p>
                            <li class="font-weight-bold">OUTUBRO</li>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker text-success"></i>
                                    <a class="font-weight-bold" href="https://pt.wikipedia.org/wiki/Pico_Peito_do_Pombo" target="_blank" rel="noopener noreferrer">
                                        PEITO DE POMBO
                                    </a> <br>
                                    <i class="fa fa-globe text-info"></i>
                                        LOCAL: SANA <br>
                                    <i class="fa fa-calendar text-dark"></i>
                                        DATA: 06/10/19 <br>
                                    <i class="fa fa-money text-success"></i>
                                        VALOR: R$130,00 <br>
                                        🤨NÍVEL: MÉDIO A PESADO <br>
                                    <i class="fa fa-hourglass-half text-danger"></i>
                                        VAGAS: 5 <br>
                                        <!--<a class="btn btn-success" href="formulario.html">Comprar</a>-->
                                        <!--{% include "submit.html"%}-->
                                </li>

                                <p>
                                    <li>
                                        <i class="fa fa-map-marker text-success"></i>
                                        <a class="font-weight-bold" href="https://trilhandomontanhas.com/vivianctelles/trilha-da-pedra-do-osso-rj/" target="_blank" rel="noopener noreferrer">
                                            PEDRA DO OSSO
                                        </a><br>
                                        <i class="fa fa-globe text-info"></i>
                                            LOCAL: RIO DE JANEIRO <br>
                                        <i class="fa fa-calendar text-dark"></i>
                                            15/10/19 <br>
                                        <i class="fa fa-money text-success"></i>
                                            VALOR: R$90,00 <br>
                                            😅NÍVEL: MODERADO <br>
                                        <i class="fa fa-hourglass-half text-danger"></i>
                                            VAGAS: 5 <br>
                                            <!--<a class="btn btn-success" href="formulario.html">Comprar</a>-->
                                            <!--{% include "submit.html"%}-->
                                    </li>
                                </p>  
                            </ul> 
                        </p>

                        <br>

                        <p>
                            <li class="font-weight-bold">NOVEMBRO</li>
                            <ul>
                                <li>                            
                                    <i class="fa fa-map-marker text-success"></i>
                                    <a class="font-weight-bold" href="https://www.trilhaseaventuras.com.br/trilhas-do-parque-estadual-da-pedra-branca-rj/" target="_blank" rel="noopener noreferrer">
                                        PEDRA BRANCA
                                    </a> <br>
                                    <i class="fa fa-globe text-info"></i>
                                        LOCAL: RIO DEJANEIRO <br>
                                    <i class="fa fa-calendar text-dark"></i>
                                        DATA: 10/11/19 <br>
                                    <i class="fa fa-money text-success"></i>
                                        VALOR: R$80,00 <br>
                                        😅NÍVEL: MODERADO <br>
                                    <i class="fa fa-hourglass-half text-danger"></i>
                                        VAGAS: 5 <br>
                                        <!--<a class="btn btn-success" href="formulario.html">Comprar</a>-->
                                        <!--{% include "submit.html"%}-->
                                </li>
                            </ul>
                        </p>

                        <br>    
                        
                        <p>
                            <li class="font-weight-bold">DEZEMBRO (CONFRATERNIZAÇÃO)</li>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker text-success"></i>
                                    <a class="font-weight-bold" href="picoTijuca3" rel="noopener noreferrer">PICO DA TIJUCA</a> + 
                                    <a class="font-weight-bold" href="https://quantocustaviajar.com/blog/trilha-mirante-da-cascatinha-rio-de-janeiro/" target="_blank" rel="noopener noreferrer">
                                        MIRANTE DA CASCATINHA
                                    </a> <br>
                                    <i class="fa fa-globe text-info"></i>
                                    LOCAL: RIO DE JANEIRO <br>
                                    <i class="fa fa-calendar text-dark"></i>
                                    DATA: 08/12/19 <br>
                                    <i class="fa fa-money text-success"></i>
                                    VALOR: R$80,00 <br>
                                    😅NÍVEL: MODERADO <br>
                                    <i class="fa fa-hourglass-half text-danger"></i>
                                    VAGAS: 5 <br>
                                    <!--<a class="btn btn-success" href="formulario.html">Comprar</a>-->
                                    <!--{% include "submit.html"%}-->
                                            
                                </li>
                            </ul>
                        </p>
                    </ul>
                </p>
                </div><br><br>
            </p>
        </section>

        <section>
            <p>
                <div id="enviar" class="container-fluid container-md">
                    <p>Clique aqui e agende sua trilha com a gente!</p>
                    <a class="btn btn-success btn-group-toggle" href="mailto:trilhandoteresopolis@gmail.com" target="_blank">Clique Aqui</a>
                </div>
            </p>
        </section>

       

        <hr>
        
        <section>
            <footer class="page-footer container-fluid container-md text-center">
                <div class="container-fluid container-md bg-white">
                    <p>                        
                        <div class="row" id="rodape">
                            <div class="col-md-2">
                                <img src="Imagens/logo001.jpg" alt="logo" width="157px" >
                            </div>

                            <hr class="clearfix w-100 d-md-none pb-3">

                            <div class="col-md-3 mb-md-0 mb-3">
                                <h5 class="w3-text-teal font-weight-bolder">Serviços</h5>

                                <ul class="list-unstyled">
                                    <li>
                                        <i class="fa fa-question-circle text-success"></i>
                                        <a class="text-success font-weight-bolder" data-toggle="modal" href="#idDF1">Dúvidas Frequentes</a><br>

                                        <!-- Modal -->
                                        <div class="modal fade" id="idDF1" role="dialog">
                                            <div class="modal-dialog">
                                            
                                            <!-- Modal content-->
                                            <div class="modal-content ">
                                                <div class="modal-header bg-success">
                                                    <h4 class="modal-title text-white font-weight-bold">Dúvidas Frequentes</h4>
                                                    <!--<button type="button" class="close" data-dismiss="modal">&times;;</button>-->
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae tempor dui.
                                                        Vivamus quis consectetur nulla. Quisque at ligula libero.
                                                        Curabitur erat elit, aliquam a rutrum condimentum, iaculis at dolor. Integer ac convallis mi.
                                                        Sed vulputate sapien fringilla dui efficitur blandit. Morbi gravida iaculis nisi quis commodo.
                                                        Vestibulum bibendum placerat nisl et imperdiet. Curabitur sodales porttitor eros. 
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </li>                                

                                    <li>
                                        <i class="fa fa-file-text text-success"></i>
                                        <a class="text-success font-weight-bolder" data-toggle="modal" href="#idDF2">Termos de Uso</a><br>

                                        <!-- Modal -->
                                        <div class="modal fade" id="idDF2" role="dialog">
                                            <div class="modal-dialog">
                                            
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header bg-success">
                                                    <h4 class="modal-title text-white font-weight-bold">Termos de Uso</h4>
                                                    <!--<button type="button" class="close" data-dismiss="modal">&times;;</button>-->
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae tempor dui.
                                                        Vivamus quis consectetur nulla. Quisque at ligula libero.
                                                        Curabitur erat elit, aliquam a rutrum condimentum, iaculis at dolor. Integer ac convallis mi.
                                                        Sed vulputate sapien fringilla dui efficitur blandit. Morbi gravida iaculis nisi quis commodo.
                                                        Vestibulum bibendum placerat nisl et imperdiet. Curabitur sodales porttitor eros. 
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </li>

                                    <li>
                                        <i class="fa fa-legal text-success"></i>
                                        <a class="text-success font-weight-bolder" data-toggle="modal" href="#idDF3">Políticas de Cancelamento</a><br>

                                        <!-- Modal -->
                                        <div class="modal fade" id="idDF3" role="dialog">
                                            <div class="modal-dialog">
                                            
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header bg-success">
                                                    <h4 class="modal-title text-white font-weight-bold">Políticas de Cancelamento</h4>
                                                    <!--<button type="button" class="close" data-dismiss="modal">&times;;</button>-->
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vitae tempor dui.
                                                        Vivamus quis consectetur nulla. Quisque at ligula libero.
                                                        Curabitur erat elit, aliquam a rutrum condimentum, iaculis at dolor. Integer ac convallis mi.
                                                        Sed vulputate sapien fringilla dui efficitur blandit. Morbi gravida iaculis nisi quis commodo.
                                                        Vestibulum bibendum placerat nisl et imperdiet. Curabitur sodales porttitor eros. 
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success" data-dismiss="modal">Fechar</button>
                                                </div>
                                            </div>                                            
                                        </div>
                                    </li>

                                    <li>
                                        <i class="fa fa-handshake-o text-success "></i>
                                        <a class="text-success font-weight-bolder" href="parceiros.html">Parceiros</a><br>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-4 mb-md-0 mb-5">
                                <h5 class="w3-text-teal font-weight-bolder">Contato</h5>

                                <ul class="list-unstyled">
                                    <li>
                                        <h6 class="text-success font-weight-bolder">
                                            <i class="fa fa-envelope"></i>
                                            Email: <a href="mailto:trilhandoteresopolis@gmail.com">trilhandoteresopolis@gmail.com</a>
                                        </h6>
                                    </li>

                                    <li>
                                        <h6 class="text-success font-weight-bolder">
                                            <i class="fa fa-whatsapp font-weight-bold"></i>
                                            Telefone/WhatsApp: <a href="https://wa.me/5521995452811?text=Olá%20Trilheiro"> (21) 99545-2811</a>
                                        </h6>
                                    </li>

                                    <li>
                                        <h6 class="text-success">
                                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                                            <a class="text-success font-weight-bolder" href="https://www.facebook.com/trilhando.teresopolis" target="_blank">Facebook/TrilhandoTeresopolis</a>
                                        </h6>
                                    </li>
        
                                    <li>
                                        <h6 class="text-success">
                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                            <a class="text-success font-weight-bolder" href="https://instagram.com/trilhandoteresopolis?igshid=1vq7gglu8x5j7" target="_blank">Instagram/TrilhandoTeresopolis</a>
                                        </h6>
                                    </li>
                                    
                                    <li>
                                        <h6 class="text-success">
                                            <i class="fa fa-youtube" aria-hidden="true"></i>
                                            <a class="text-success font-weight-bolder" href="#" target="_blank">YouTube/TrilhandoTeresopolis</a>
                                        </h6>
                                    </li>
                                </ul>                                 
                            </div>

                            <div class="col-md-2 mb-md-0 mb-3">
                                <ul class="list-unstyled">
                                    <li>
                                        <h5 class="w3-text-teal font-weight-bolder">Pagamento</h5>
                                        <p>
                                            <img src="Imagens/cartao.png" alt="">
                                        </p>

                                        <p>
                                            <img src="Imagens/picpay.png" alt="">
                                        </p>
                                    </li>
                                </ul>
                            </div>

                            <script src="js/jquery.js"></script>
                            <script src="js/bootstrap.bundle.min.js"></script>
                            <script src="scripts.js"></script>
                            
                        </div>
                    </p>
                </div>
            </footer>
        </section>
    </body>
</html>