.imgNiver {
  width: 100%;
  border-radius: 5px;
  height: 900px;
  object-fit: cover;
}

.cardNiver {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  height: 49%;
}



@media only screen and (max-width: 600px) {
  .JumboHeadImgIndex {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .container {
    width: 96px;
    text-align: center;
  }

  #niver2{
    height: 450px;
  }
}

@media (min-width: 40rem) {
  .cardNiver {
    width: 100%;
  }
}

@media (min-width: 56rem) {
  .cardNiver {
    width: 100%;
  }

}


